# ===============================
# Python / Django
# ===============================
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
.venv/
venv/

# Django static & media
staticfiles/
media/

# ===============================
# Node / React
# ===============================
node_modules/
build/
dist/

# ===============================
# IDE / OS files
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log
